<h1 matDialogTitle>Name of your project</h1>

<mat-dialog-content>
  <form [formGroup]="projectForm">
    <mat-form-field appearance="fill" class="w-100">
      <input type="text"
             matInput
             formControlName="name">
      <button color="primary"
              type="submit"
              matSuffix
              [disabled]="projectForm.invalid"
              (click)="onSubmit()"
              matDialogClose
              mat-icon-button>
        <mat-icon>check</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>
